*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body{
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:snow;
    padding-bottom: 10px;
    padding-top: 10px;
    
     
  }
  .img-logo{
    margin-left: 1%;
  }
  .img-logo img{
    width: 30px;
    height: 30px;
  }
  header a{
    text-decoration:none;
    color: darkgray;
    margin-right: 10px;
  }
  header a:hover{
    opacity: 30%;
    
  }
  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 1%;
  }
  main form{
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: linear-gradient(#403784, #322f2a);
    border: 1px solid white;
    border-radius: 3px;
    padding: 45px 40px;
  }
  main form input{
    width: 300px;
    height: 30px;
    margin: 1%;
  }
  main form h1{
    font-family:'Times New Roman', Times, serif ;
    font-size: 35px;
    margin-bottom: 15px;
  }
  .footer-form{
    font-size: 20px;
    display: flex;
    
    flex-direction: column;
    margin-top: 3%;
    border-radius: 3px;
    justify-content: space-around;
    color: gray;
    border: 1px solid black;
  }
  .footer-form a{
    text-decoration: none;
    margin-top: 1px;
    color: gray;
  }
  .entracom{
    display: flex;
    align-items: flex-start;
  }
  .entracom a{
    margin-left: 5%;
  }
  main form a:hover{
    opacity: 50%;
    
  }
  
  .submitcad{
    font-size: 20px;
    margin-top: 10%;
    color: white;
    background-color: rgba(0, 0, 0, 0.20);
    border: 1px solid white;
    border-radius: 3px;
    height: 50px;
  }
  .submitcad:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
  }
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: lightgrey;
    padding: 3%;
    margin: 0;
  }
  
  
  @media only screen and (max-width: 500px){
    
    main{
    display: flex;
    flex-direction: column;
    margin-right: 1%;
    
  }
  main form {
    
    margin: 1% 1%;
  }
  
  }
  